<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Party Equip Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dungeon Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Random Generators</a>
            </li>
            <!-- DROPDOWN TEMPLATE -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!-- TODO: change this into dynamic text-->
            <div class="nav-link" style="color:white">v0.1</div>
            <div class="nav-link" style="color:white">Herokit</div>
        </form>
    </div>
</nav>